body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    align-items: center;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content:space-between;
    padding: 0 5px;
}
h1{
    margin: 0;
}

h1,a{ 
    color: rgb(48, 39, 39);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 10px;
}
h1 a:hover{
    background-color: #ddd;
}
h1 a:nth-child(1){
    color: rgb(212, 8, 8);
    font-size: 2rem;
}
div,nav a{
    color: rgb(48, 39, 39);
}
h1, div, nav{
    display: inline-block;
}
.caja{
    background-color: black;
    padding: 0.8rem 1.2rem;
    color: #f6f8f8;
    border-radius: 3rem;
}
div input{
    border-radius: 3rem;
    background-color: #ddd;
    color: rgb(53, 7, 112); 
    width: 50rem;   
    text-align:start;
    font-size: 1.5rem;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 15%;
}
nav a{
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 10px;

}
nav a:hover{
    background-color: #ddd;
}
section{
    margin: 2rem;
}
article{
    display: grid;
    column-gap: 0.5rem;
    row-gap: 1.5rem;
    grid-template-columns: auto auto auto auto auto;
    align-items: flex-start;
}
img{
    border-radius: 1rem;
}
/*media queries (responsive desing)*/
@media screen and (min-width:800px) and (max-width:1200px) {
    .encabezado{
        background-color: rgb(247, 131, 22);
    } 
    .contenido, .contenido_lateral{
        width: 50%;
    }
}
@media screen and (min-width:400px) and (max-width:800px) {
    .encabezado{
        background-color: rgb(60, 185, 185);
    } 
    .contenido, .contenido_lateral{
        width: 100%;
    }
}
@media screen and (min-width:400px){
    .encabezado{
        height: 80px;
    }
    .contenido{
        background-color: rgb(243, 239, 239);
    }
    .contenido_lateral{
        width: 100%;
    }
}