body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    align-items: center;
    background-color: rgb(235, 208, 208);
    display: flex;
    justify-content:space-between;
    padding: 0 5px;
}
h1{
    margin: 0;
}

h1,a{ 
    color: rgb(48, 39, 39);
    text-decoration: none;
    font-size: 1.3rem;
}
h1 a:nth-child(1){
    color: #fd2b2b;
    font-size: 2rem;
}
div,nav a{
    color: rgb(48, 39, 39);
}
h1, div, nav{
    display: inline-block;
}
div{ 
    color: rgb(48, 226, 3);
    font-size: 1.5rem
}
div input{
    color: rgb(53, 7, 112);
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 15%;
}
nav a{
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 5px;

}
nav a:hover{
    background-color: rgb(219, 168, 228);
}
section{
    display: flex;
    flex-flow: row wrap;
}
article{
    flex: 1 1 15%;
}
/*media queries (responsive desing)*/
@media screen and (min-width:780px) and (max-width:1024px) {
    .encabezado{
        background-color: rgb(247, 131, 22);
    } 
    .contenido, .contenido_lateral{
        width: 50%;
    }
}
@media screen and (min-width:360px) and (max-width:780px) {
    .encabezado{
        background-color: rgb(60, 185, 185);
    } 
    .contenido, .contenido_lateral{
        width: 100%;
    }
}
@media screen and (min-width:360px){
    .encabezado{
        height: 80px;
    }
    .contenido{
        background-color: rgb(0, 0, 0);
    }
    .contenido_lateral{
        width: 100%;
    }
}