body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    align-items: center;
    background-color: rgba(40, 11, 201, 0.945);
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0 5px;
}
h1,nav{
    display: inline-block;
}
h1,nav a{
    color: #ffffff;
}
h1{ 
    font-size: 1.2rem;
    margin: 0; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
nav a{
    font-size: 0.6rem;
    text-decoration: none;
    padding: 10px 5px;

}
nav a:hover{
    background-color: blue;
}
main{
    display: flex;
    flex-direction: row;
}
aside{
    align-items: center;
    background-color: rgba(77, 3, 77, 0.918);
    display: flex;
    flex-direction: column;
    width: 10%;
}
aside a{
    color: #ffffff;
    font-style: oblique;
    font-size: 0.8rem;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 100% ;}
aside a:hover{
        background-color: rgb(11, 118, 189);
    }
section{
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-flow: row wrap;
        width: 90%;
    }
article{
        flex: 1 1 30%;
        text-align: center;
    }
img{
        height: 100px;
    
    }
footer{
        align-items: center;
        background-color: rgb(17, 7, 160);
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 10vh;
        width: 100%;
    }
p,footer a{
        color: #ffffff;
        font-style: oblique;
        font-size: 0.9rem;
    }
p{
        display: inline;
        margin: 0;
    }
.marginIzq{
        margin-left: 5px;    
    }
