body{
    margin: 0;
}
main{
    background-color: blue;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto ;
}
article{
    background-color: blueviolet;
    height: 10vh;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
}