body{
    background-color: rgb(32, 32, 143);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.imagen{
    height: 250px;
}
nav a{
    color: rgb(227, 241, 20);
    text-decoration: none;
}
nav a:hover{
    color: rgb(0, 0, 0);
    text-decoration:underline;
}
h1, p, div, nav{
    text-align-last:center;
}
main a{
    color: rgb(227, 241, 20);
    text-decoration: none;
}
main a:hover{
    color: rgb(0, 0, 0);
    text-decoration:underline;}
div{border: 1px solid #000000; 
}
ul li{
    color: rgb(228, 231, 31);
}
ul li:nth-child(odd){
    font-style: italic;
    color: #000000;
}




    


